
{% load static %}
    <!-- Header Marquee -->
    <div class="text-center">
        <div class="marquee-text scroll-text">BEMVINDU!</div>
    </div>
    <div class="row">
    <div class=" card col-md-6">
        <div class="text-center">
        <img src="{% static 'img/tabaco.jpg' %}" alt="Logo" class="img-fluid mb-3" style="max-width: 400px;">
        <h4>BEMVINDU MAI...</h4>
        <h2>ANCTL -- PORTAL</H2>
    </div>
</div>
 <div class=" card col-md-6">
        <div class="text-center">
        <img src="{% static 'img/tb.jpg' %}" alt="Logo" class="img-fluid mb-3" style="max-width: 200px;">
        <h1>PORTAL ONLINE ALIANSA NASIONAL KONTROLU TABACO TIMOR-LESTE</h1>
    </div>
</div>
</div>
<hr>

